---
import CameraStream from '../components/CameraStream.astro';
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Web Camera Stream">
  <h2 class="text-center text-xl mb-4">Access your webcam below:</h2>
  <CameraStream />
</MainLayout>